<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/35842487_441687132971373_2677246028347867136_n.jpg?_nc_cat=105&_nc_ht=scontent-frx5-1.xx&oh=449e7af712ca1f30dd5183e8d554e3c0&oe=5D17B10D">
          </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Galina Filyak</strong>
            <small>@GalinDomain</small>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/34561811_654435134896584_7421780032395149312_n.jpg?_nc_cat=105&_nc_ht=scontent-frx5-1.xx&oh=529e83314597c069f1ea521a5e880a63&oe=5CE95C4E">
          </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Ігор Фрунза</strong>
            <small>@IgorF</small>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/14088550_1827917134104793_4527978730950951841_n.jpg?_nc_cat=100&_nc_ht=scontent-frx5-1.xx&oh=8e32b11ae92b7beaa0512138577f6d7c&oe=5D183A7D">
          </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Olexandr Drahanchuk</strong>
            <small>@olex.drahanchuk</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  </nav>
</div>
