<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>

      <div class="panel-block">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <!-- <img src="https://scontent-frx5-1.cdninstagram.com/vp/05a3458d2de0e1c39a3669cdbcd94cb3/5D1C460F/t51.2885-15/e35/51722431_545827659260423_5737222236226207596_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com"> -->
              <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/43043404_534395070355768_7449918480570122240_n.jpg?_nc_cat=105&_nc_ht=scontent-frx5-1.xx&oh=0bc7543ad2929e233ba01a4fcd2e97f3&oe=5CE12D82">
              </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Ivan Savchuk</strong><br>
                <small>@iSavchuk</small>
              </p>
            </div>
          </div>
        </article>
      </div>

    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/52842385_636744140132337_5586853597045325824_n.jpg?_nc_cat=107&_nc_ht=scontent-frx5-1.xx&oh=cbae4be7cadd9fbf607fccbf318d68a5&oe=5CE48F9F">
          </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Galina Filyak</strong><br>
            <small>@GalinDomain</small>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/14088550_1827917134104793_4527978730950951841_n.jpg?_nc_cat=100&_nc_ht=scontent-frx5-1.xx&oh=8e32b11ae92b7beaa0512138577f6d7c&oe=5D183A7D">
          </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Olexandr Drahanchuk</strong><br>
            <small>@olex.drahanchuk</small>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/38843887_2146659552274395_3488032224861749248_n.jpg?_nc_cat=109&_nc_ht=scontent-frx5-1.xx&oh=e1e38c13ce864f34b4b808effb24b5b5&oe=5D232E4E">
          </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Колян Дзьоба</strong><br>
            <small>@kol.dzoba</small>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/39095596_283092278949212_958230516820082688_n.jpg?_nc_cat=104&_nc_ht=scontent-frx5-1.xx&oh=8d413eadc5a0a661268c0465516d8cdb&oe=5D1B1998">
          </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Julia Misurak</strong><br>
            <small>@Julia.mis</small>
          </p>
        </div>
      </div>
    </article>
  </div>

  </nav>
</div>
